<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/inicioSesion"><img src="/images/LogoSvS.png" style='float:left;width:auto;height:60px; margin-right:10px;' alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/rio">Rio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lago">Lago</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/playa">Playa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/socio">Socio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>